@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  margin: 0px;
}
nav{
  margin: 0px;
  height: 8vh;
  width: 100vw;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);   
}

#logo{
  font-family: 'Anton', sans-serif;
  font-size: 5vh;
  margin-left: 10px;
}

.doubt-wrapper{
  height: 10vh;
  width: 60vw;
  background-color: white;
  margin: 20px;
  
  padding: 10px;
    border: 1px solid #77aaff;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;
}

.doubt-button{
  background-color: white;
  border: 2px solid blue;
  height: auto;
  width: 7vw;
  position:relative;
  top: -20%;
  left: 85%;
}

.doubt-button:hover{
  cursor: pointer;
}
